{% extends 'base.html.twig' %}

{% block title %}
    {% if 'classique' in app.request.uri %}
            Nos chambres classiques
      {% elseif 'confort' in app.request.uri %}
            Nos chambres classiques
        {% elseif 'suite' in app.request.uri %}
            Nos suites
          {% else %}
            Votre recherche de chambres
    {% endif %}
{% endblock %}

{% block body %}
    {% if 'classique' in app.request.uri %}
<h1 class="text-center mt-4">Nos chambres classiques</h1>
      {% elseif 'confort' in app.request.uri %}
<h1 class="text-center mt-4">Nos chambres confort</h1>
        {% elseif 'suite' in app.request.uri %}
<h1 class="text-center mt-4">Nos suites</h1>
  {% else %}
<h1 class="text-center mt-4">Votre recherche</h1>
    {% endif %}


<div class="d-flex row">
{% for chambre in chambres %}
<div class="card mb-3 col-3 mx-auto" style="width: 18rem;">
  <img src="{{ asset('images/chambre/' ~ chambre.photo) }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ chambre.titre }}</h5>
    <p class="card-text">{{ chambre.descriptionCourte }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ chambre.prixJournalier }} € par nuit</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('view_chambre', {id: chambre.id}) }}" class="btn btn-info">En savoir plus</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}