<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.0/lux/bootstrap.min.css" integrity="sha512-y8FEi13Ei8XUC5ic67kqCHwidC5PeXw/lXwRy/FODGI3bk/uxDi1fgviJEmuRj1Y8NUynlbOmZjo5TJTHqfiiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Hotel Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
      {% if is_granted("ROLE_ADMIN") %}
         <li class="nav-item">
          <a class="nav-link active text-warning" href="{{ path('admin') }}">BACK OFFICE</a>
        </li>     
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos chambres</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('all_rooms') }}">Toutes les chambres</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('chambres_classiques', {min: 0, max: 100}) }}">Classique</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('chambres_confort', {min: 100, max: 500}) }}">Confort</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('chambres_suites', {min: 500, max: 10000}) }}">Suite</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notre restaurant</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('resto', {select: "brasserie"}) }}">Brasserie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('resto', {select: "degustation"}) }}">Dégustation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('resto', {select: "diner"}) }}">Dîner</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notre spa</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Détente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Relaxation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Plaisir</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('comments')}}">Vos avis</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">L'hôtel</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('about')}}">Qui sommes-nous ?</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Accès</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contact</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
      </ul>
      {% if app.user %}
        <a href="{{ path('admin_logout') }}" class="btn btn-danger">Se déconnecter</a>
      {% endif %}
      <a href=""><i class="flag flag-fr mx-1"></i></a>
      <a href=""><i class="flag flag-us mx-1"></i></a>
    </div>
  </div>
</nav>

        {% block body %}{% endblock %}

<hr class="mt-5">
<div class="container">
  <footer class="py-5 mx-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ path('home') }}" class="nav-link p-0 text-muted">Accueil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mentions légales</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGV</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Plan du site</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" id="printer">Imprimer la page</a></li>
        </ul>
      </div>

<script>
    document.getElementById("printer").addEventListener("click", function () {
      window.print();
    });
</script>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>S'inscrire à notre newsletter</h5>
          <p>Suivez nos actualités et bénéficiez d'offres limitées exclusives</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Votre email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Votre email">
            <button class="btn btn-primary" type="button">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 SA Hotel Symfony, tous droits réservés</p>
      <ul class="list-unstyled d-flex">
        <h6>Suivez-nous sur nos réseaux :</h6>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-pinterest"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
    </body>
</html>
